/*
selector {
    propiedad: valor;
    propiedad: valor
}
*/

/*Seletores de etiqueta*/

body {
    background-color: bisque;
}

/*Seletores de id*/

#sec-texto {
    border: 1px solid brown;
    margin: 1rem;
    padding: 1rem;
}

/*Seletores de clase*/

.detacado {
    color: brown;
}

.flex-wrapper {
    display: flex;
    margin: 1rem;;
}

.flex-wrapper section {
    width: 50%;
}
